# Local development system files
*.DS_Store

# Development folders
coverage
.nyc_output
node_modules

# Development files
*.log
*.reapeaks
.tool-versions

# GitHub do not allow big files
test/large-files
